body { 
  font-family: Arial; margin: 10; 
}
.product {
  display: block;
  margin: 115px auto;
  width: 340px;
  background: #fff;
  box-shadow: 0 11px 25px #d8d8d8;
  padding-bottom: 20px;
  font-family: Arial;
}
a {
  font-size: 18px;
  padding-top: 20px;
  color: black;
  text-decoration: none;
}
.img { 
  position: relative; 
}
.img img {
   width: 100%; 
}
.sale {
  position: absolute;
  left: 0; top: 0;
  background: black;
  color: white;
  padding: 6px 20px;
  transform: rotate(-45deg) translate(-25px,-10px);
}

h3 { 
  padding: 15px;
   margin: 0; 
   font-size: 20px; 
}

.rating { 
  padding: 0 15px; 
}
.rate-box {
  background: #ffe97f;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: bold;
}
.stars { 
  color: gold; 
  margin-left: 8px; 
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.price { 
  font-size: 26px; 
  font-weight: bold; 
}
.price s { 
  color: #999; 
  font-size: 16px; 
}

button {
  background: #0d173f;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  gap: 6px;
  align-items: center;
}
